.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.menu {
  width: 185px;
  box-sizing: border-box;
  height: 100%;
  background: rgba(133, 170, 159, 1);
  padding: 16px;
  animation: slideIn 0.3s ease forwards;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 768px) {
  .menu {
    width: 300px;
    padding: 20px 32px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(103%);
  }
}

@media (min-width: 1440px) {
  .backdrop {
    display: none;
  }
}

.upperContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 166px;
}

@media (min-width: 768px) {
  .upperContainer {
    margin-bottom: 170px;
  }
}

.closeBtn {
  width: 32px;
}

@media (min-width: 768px) {
  .closeBtn {
    width: 40px;
  }
}

.iconClose {
  color: rgba(252, 252, 252, 1);
}

@media (min-width: 768px) {
  .iconClose {
    width: 40px;
    height: 40px;
  }
}

.img {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}
