.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 16px;
  position: relative;
  background-color: rgba(133, 170, 159, 1);
  border-radius: 30px;
}

@media (min-width: 768px) {
  .form {
    padding: 64px;
  }
}

.iconCross {
  position: absolute;
  color: rgba(252, 252, 252, 1);
  top: 16px;
  right: 16px;
}

.label {
  color: rgba(252, 252, 252, 1);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .label {
    margin-bottom: 18px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 32px;
  }
}

.labelCont {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  width: 100%;
  border: 1px solid rgba(209, 213, 219, 1);
  background-color: transparent;
  border-radius: 15px;
  padding: 12px 0 12px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(252, 252, 252, 1);
}

@media (min-width: 768px) {
  .input {
    width: 354px;
  }
}

.buttons {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

@media (min-width: 768px) {
  .buttons {
    justify-content: center;
  }
}

.saveBtn {
  padding: 12px 60px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 30px;
}

.cancelBtn {
  padding: 12px 45px;
  border-radius: 30px;
  border: 1px solid rgba(252, 252, 252, 0.4);
  color: rgba(252, 252, 252, 1);
}

@media (min-width: 768px) {
  .saveBtn {
    padding: 14px 101px;
  }

  .cancelBtn {
    padding: 14px 92px;
  }
}
