.form {
  background-color: rgba(133, 170, 159, 0.1);
  padding: 32px 16px 57px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 16px;
}

.formText {
  margin-bottom: 40px;
  color: rgba(18, 20, 23, 0.8);
}

.input {
  width: 100%;
  height: 56px;
  border-radius: 15px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  background-color: transparent;
  padding-left: 18px;
  display: flex;
  align-items: center;
}

input::placeholder {
  color: rgba(18, 20, 23, 1);
}

.inputWrapper {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 32px;
  position: relative;
}

.btnIcon {
  position: absolute;
  top: 18px;
  right: 18px;
}

.btn {
  margin-bottom: 16px;
  background-color: rgba(133, 170, 159, 1);
  color: rgba(252, 252, 252, 1);
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 30px;
}

.link {
  text-decoration: underline;
  color: rgba(18, 20, 23, 0.5);
}
