.navGroup {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.link {
  /* display: inline-block;
  width: auto; */
  color: rgba(252, 252, 252, 1);
}

.active {
  display: inline-block;
  width: auto;
  padding: 12px 20px;
  color: rgba(18, 20, 23, 1);
  background-color: rgba(252, 252, 252, 1);
  border-radius: 15px;
}

@media (min-width: 1440px) {
  .navGroup {
    flex-direction: row;
    gap: 28px;
  }

  .link {
    color: rgba(18, 20, 23, 1);
    padding: 12px 20px;
  }

  .active {
    display: inline-block;
    width: auto;
    color: rgba(252, 252, 252, 1);
    background-color: rgba(133, 170, 159, 1);
    border-radius: 15px;
  }
}
