.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  padding: 251px 16px 0 16px;
}

@media (min-width: 768px) {
  .backdrop {
    padding: 380px 70px 0;
  }
}

@media (min-width: 1440px) {
  .backdrop {
    padding: 346px 406px 0;
  }
}

.modal {
  background-color: rgba(133, 170, 159, 1);
}
