.header {
  background-color: rgba(255, 255, 255, 1);
  height: 68px;
  padding: 16px;
}

@media (min-width: 768px) {
  .header {
    height: 88px;
    padding: 20px 32px;
  }
}

@media (min-width: 1440x) {
  .header {
    padding: 20px 100px;
  }
}
