.header {
  background-color: rgba(255, 255, 255, 1);
  height: 68px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .header {
    height: 88px;
    padding: 20px 32px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 20px 100px;
  }
}

.userNav {
  display: none;
}

@media (min-width: 1440px) {
  .userNav {
    display: flex;
  }
}

.burgerMenu {
}

@media (min-width: 1440px) {
  .burgerMenu {
    display: none;
  }
}

.logOutBtn {
  display: none;
}

@media (min-width: 1440px) {
  .logOutBtn {
    display: flex;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerUserAndBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .containerUserAndBurger {
    gap: 28px;
  }
}

@media (min-width: 1440px) {
  .containerUserAndBurger {
    gap: 16px;
  }
}

/* time */
/* .userBar {
  width: 83px;
  height: 36px;
}

.containerUserAndBurger {
  display: flex;
} */
