.section {
  background-color: rgba(255, 255, 255, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .sectionContainer {
    flex-direction: column-reverse;
  }
}

.logo {
  margin-top: 16px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .logo {
    margin-top: 34px;
    margin-left: 32px;
  }
}

.img {
  height: 100%;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 64px 16px 64px;
}

@media (min-width: 768px) {
  .imgWrapper {
    display: none;
  }
}

.text {
  margin-bottom: 43px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
