.section {
  background-color: rgba(248, 248, 248, 1);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 16px;
  margin-left: 16px;
}

.img {
  height: 100%;
}

.imgWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 12px 64px 16px 64px;
}
