.filters {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .filters {
    margin-bottom: 28px;
    flex-direction: row;
  }
}

.inputCont {
  width: 100%;
  position: relative;
}

.iconSearch {
  position: absolute;
  top: 14px;
  right: 24px;
}

.input {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  padding: 12px 24px;
  border-radius: 15px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  background-color: transparent;
  width: 100%;
}

@media (min-width: 768px) {
  .inputCont {
    width: 274px;
  }
}

.verbOptions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.verbOptions label {
  display: flex;
  align-items: center;
}

.radio {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.radio:checked {
  border-color: rgba(133, 170, 159, 1);
}

.radio:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgba(133, 170, 159, 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
