html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background: #fbfcf8;
  color: rgba(17, 16, 28, 1);
}

section {
  background-color: rgba(243, 243, 243, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  box-sizing: border-box;
  background-color: transparent;
}

a {
  color: currentColor;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* [data-sonner-toaster],
[data-toast-container],
[data-hot-toast],
#__react-hot-toast,
#hot-toast,
[data-react-hot-toast] {
  z-index: 99999999999999999999999999999999999;
  position: fixed;
} */
