.custom__control {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  padding: 12px 24px;
  border-radius: 15px;
  border: 1px solid rgba(209, 213, 219, 1);
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@media (min-width: 768px) {
  .custom__control {
    width: 204px;
  }
}

.custom__menu {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 47px 0px rgba(18, 20, 23, 0.08);

  border-radius: 15px;
  margin-top: 8px;
  overflow: hidden;
  padding: 12px 24px;
  display: flex;
}

.custom__menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
